@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Engenheiro Jhonatan Lopes @ViewData["Engenheiro"]</p>
<address><strong>More information: </strong> <a href="http://engenheirojhonatan.com.br"></a>Engenheirojhonatan.com.br</address>